
<div id="posts-right-container">

    <div id="post-right" style="position:relative">

        <a ng-click="toggleNotifications()"href="javascript:" class="navigation-href float-right" id="notifications-href" style="margin-top:0px;margin-bottom:10px;">N<span id="notifications-count">{{data.notificationsCount}}</span></a>

        <div ng-show="showNotifications" id="notifications-outer-container" class="main-shadow">

            <a ng-click="clearNotifications()" href="javascript:" id="clear-notifications" class="right-float href-dotted-light" style="margin-bottom:10px; margin-right:10px;" data-id="${sessionScope.account.id}">Clear</a>
            <br class="clear"/>

            <div class="notification" ng-controller="mixController" ng-repeat="notification in data.notifications">

                <a ng-if="!notification.invite" ng-click="navigatePost(notification.postId)" href="javascript:">
                    <span ng-if="notification.liked">{{notification.name}} liked your post.</span>
                    <span ng-if="notification.shared">{{notification.name}} shared your post.</span>
                    <span ng-if="notification.commented">{{notification.name}} commented your post.</span>
                </a>

                <a ng-href="#!/invitations" ng-if="notification.invite" href="javascript:" class="invite-ref">{{notification.name}} invited you to connect.</a>

            </div>

            <div id="notifications-container">
                <p ng-if="notifications.length == 0">No new notifications</p>
            </div>
        </div>


        <span id="express-it" class="information left-float yella" style="color:#000 !important;font-family:Roboto-Light !important;display:inline-block;vertical-align:bottom;margin-top:19px;">Write something...</span>

        <br class="clear"/>

        <textarea placeholder="The Lazy Fox jumped over the yellow dog and laughed." id="whatsup" name="content"></textarea>

        <br class="clear"/>
        <input ng-click="shareWhatsup()" type="button" class="post-button" id="share-button" value="Share!"/>

        <br class="clear"/>
        <div id="actions-container" class="float-right">

            <div id="image-upload-post-container" class="file-upload-container">
                <a href="javascript:" class="button yella small upload-button" id="image-button">Images</a>
                <input type="hidden" name="content" id="image-upload-content" class="file-upload-content"/>
                <input type="file" name="imageFiles" id="post-upload-image-files" class="file-upload-input" data-upload="image" multiple="multiple" data-message="Image must be Gif, PNG, or JPG"/>
            </div>

            <div id="video-upload-post-container" class="file-upload-container">
                <a href="javascript:" class="button light small upload-button" id="video-button">Video</a>
                <input type="hidden" name="content" id="video-upload-content" class="file-upload-content"/>
                <input type="file" name="videoFile" id="post-upload-video-files" class="file-upload-input" data-upload="video" data-message="Video must be MP4"/>
            </div>

        </div>

        <br class="clear"/>

    </div>

    <div ng-if="femsfellas" id="posts-fellows-fems-outer-container" style="margin-top:4px;float:right;width:inherit;text-align:left;">
        <span class="modern tiny" style="display:inline-block;margin:20px 0px 5px 20px;">Who's posted!</span>
        <div id="posts-fellows-fems-container">
            <span ng-repeat="femfella in femsfellas" class="profile-post-container" data-title="{{femfella.count}} New Posts">
                <a href="#!/profile/{{femfella.id}}" data-id="{{femfella.accountId}}" class="profile-ref"><img ng-src="/o/{{femfella.imageUri}}" style="width:46px; height:46px; margin:5px;" class="profile-image-posted main-shadow" alt="{{femfella.name}}" title="{{femfella.name}}"/></a>
                <span class="activity-status {{femfella.status}}"></span>
                <span class="tooltiptext">{{femfella.name}}<br/> {{femfella.count}} New Posts</span>
            </span>
        </div>
    </div>

    <br class="clear" id="cleared"/>


    <div id="advertisement-container" class="clear" style="margin-top:49px;text-align:center;">
        <span style="font-size:11px; color:#617078; margin-bottom:11px; display:block;">Advertisements</span>
    </div>

    <br class="clear"/>

</div>


<div id="activities-wrapper" ng-controller="mixController" ng-show="activities" class="animateLeft">

    <div id="people-posted" class="information" style="display:none;font-size:13px;"><span id="latest-posts" style="color:#000 !important;"></span> <a href="javascript:" id="refresh-posts">refresh &#8635;</a>.</div>
    <div id="new">Refresh to see new posts...</div>

    <style>
        #activity-duration-select a{
            font-size:13px;
            text-decoration: none;
        }
    </style>

<!--    <div id="activity-duration-select">-->
<!--&lt;!&ndash;        <div class="left-float" style="text-align:left">&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Newest</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="right-float" style="text-align:right">-->
<!--            <a href="" class="yella">Day</a>-->
<!--            <a href="">Week</a>-->
<!--            <a href="">Month</a>-->
<!--        </div>-->
<!--        <br class="clear"/>-->
<!--    </div>-->

    <div id="activity-feed">
        <p id="latest-posts-header" class="modern tiny">Latest Activity:</p>
        <div class="feed-content-container" ng-repeat="post in activities" id="post-{{post.id}}" ng-if="!post.hidden && !post.flagged">

            <span ng-if="post.postEditable && post.content != null" class="edit-click tiny yella edit-fade-in">Click inside<br/> Post to Edit</span>
            <span ng-if="post.postEditable && post.content != null"  class="author-ref tiny">Author</span>

            <div ng-if="post.shared" class="shared-post-container" >

                <a ng-href="#!/profile/{{post.sharedAccountId}}" class="shared-post-whois" data-id="{{post.sharedAccountId}}">
                    <img ng-src="/o/{{post.sharedImageUri}}" style="width:40px; height:40px;"/>
                </a>

                <div class="shared-account-container">
                    <span class="shared-account">{{post.sharedAccount}}</span>
                    <span class="shared-time-ago">{{post.timeSharedAgo}}</span>
                </div>

                <span class="shared-descriptor">Shared</span>

                <br class="clear"/>

                <div class="shared-comment-container">
                    <span class="shared-comment">{{post.sharedComment}}</span>
                </div>
            </div>

            <div ng-class="{'shared': post.shared}" class="feed-content">

                <div class="post-content">

                    <div ng-repeat="imageUri in post.imageFileUris" class="image-post-container" data-image-uri="{{imageUri}}" style="position:relative;">
                        <a ng-click="deleteImage(post.id, imageUri)" ng-href="javascript:" ng-if="post.postEditable" class="delete-image beauty-light edit-fade-in" data-uri="{{imageUri}}" data-id="{{post.id}}">x</a>
                        <a href="/o/{{imageUri}}" target="_blank">
                            <img ng-src="/o/{{imageUri}}" style="width:100%"/>
                        </a>
                    </div>

                    <video controls ng-if="post.videoFileUri" ng-src="/o/{{post.videoFileUri}}" style="width:100%" data-video-uri="{{post.videoFileUri}}"></video>

                    <div ng-if="post.content && post.postEditable" style="white-space: pre-line;" class="post-comment" contenteditable="true" id="post-content-{{post.id}}" ng-bind-html="post.content"></div>

                    <div ng-if="post.content && !post.postEditable" style="white-space: pre-line;" class="post-comment" ng-bind-html="post.content"></div>

                </div>

                <div class="post-meta" style="position: relative">
                    <p class="edit-status tiny float-right" id="edit-status-{{id}}">Updating...</p>

                    <div ng-if="!post.shared && post.deletable">
                        <a ng-click="updatePost(post.id)" href="javascript:" class="button small retro edit-update-button edit-fade-in">Update</a>
                        <div class="image-edit edit-fade-in">
                            <a href="javascript:" class="button small yella" id="edit-image-button-{{post.id}}">+ Images</a>
                            <input ng-upload-change="uploadImages(post.id, $event)" type="file" name="imageFiles" id="edit-image-select-{{post.id}}" class="edit-image-input" multiple="multiple" data-id="{{post.id}}"/>
                        </div>
                    </div>

                    <a ng-href="#!/profile/{{post.accountId}}" href="javascript:" class="post-whois" data-id="{{post.accountId}}">
                        <img ng-src="/o/{{post.imageUri}}"/>
                    </a>
                    <a ng-href="#!/profile/{{post.accountId}}" class="posted-by" data-id="{{post.accountId}}">{{post.name}}</a><br/>
                    <span class="post-date">{{post.timeAgo}}</span>

                    <br class="clear"/>
                </div>

                <div class="content-actions">

                    <div class="like-container float-right">
                        <div class="like-actions-count-container">
                            <span class="actions-count like-container-{{post.id}}" id="likes-{{post.id}}" ng-bind="post.likes"></span> <span class="actions-label">Likes</span>
                        </div>
                        <svg ng-click="likePost(post.id)" ng-class="{'liked': post.liked}" class="thunder like-button">
                            <use xlink:href="#amadeus" data-id="{{id}}"/>
                        </svg>
                    </div>


                    <div ng-if="post.shared" class="share-container float-left">
                        <div>
                            <div class="share-actions-count-container">
                                <span class="actions-count">{{post.shares}} </span>
                            </div>
                            <a ng-click="toggleShare($index)" href="javascript:" class="share-button" data-id="{{id}}"><img ng-src="/o/images/share.png" style="width:32px;" data-id="{{id}}"/></a>
                        </div>
                    </div>
                    <div ng-if="!post.shared" class="share-container float-left">
                        <div>
                            <div class="share-actions-count-container">
                                <span class="actions-count">{{post.shares}} </span>
                            </div>
                            <a ng-click="toggleShare($index)" href="javascript:" class="share-button" data-id="{{id}}"><img ng-src="/o/images/share.png" style="width:32px;" data-id="{{id}}"/></a>
                        </div>
                    </div>

                    <br class="clear"/>

                </div>

                <div class="post-separators">
                    <div class="post-sep post-sep-uno"></div>
                    <div class="post-sep post-sep-dos"></div>
                    <div class="post-sep post-sep-tres"></div>
                </div>

                <div ng-if="post.shared" ng-show="toggle[$index]" class="share-comment-container">
                    <span class="share-comment-header">Share Post</span>
                    <textarea name="comment" id="share-comment-{{post.postShareId}}"></textarea>
                    <a ng-click="sharePost(post.postShareId, $event)" href="javascript:" class="button yella small light-shadow float-right share-post-button" data-id="{{post.id}}">Share Post</a>
                    <br class="clear"/>
                </div>

                <div ng-if="!post.shared" ng-show="toggle[$index]" class="share-comment-container">
                    <span class="share-comment-header">Share Post</span>
                    <textarea name="comment" id="share-comment-{{post.id}}"></textarea>
                    <a ng-click="sharePost(post.id, $event)" href="javascript:" class="button yella small light-shadow float-right share-post-button" data-id="{{post.id}}">Share Post</a>
                    <br class="clear"/>
                </div>

                <div class="comments-container" style="margin-left:62px;">

                    <div ng-if="post.commentsOrShareComments" class="comments-header-spacer"></div>

                    <div ng-if="post.shareComments" class="post-comment-wrapper">

                        <div class="post-comment-meta" ng-repeat="comment in post.shareComments">
                            <a href="javascript:" class="post-comment-whois left-float">
                                <img ng-src="/o/{{comment.accountImageUri}}" style="height:30px; width:30px;"/>
                            </a>
                            <div class="left-float" style="margin-left:10px;width:79%;">
                                <p>
                                    <a href="javascript:" class="post-comment-whois" style="text-decoration:none; color:#222; font-family:Roboto-Bold !important">{{comment.accountName}}</a>
                                    <span class="comment-comment">{{comment.comment}}</span>
                                    <a ng-if="comment.commentDeletable" ng-click="deleteShareComment(comment.id)" href="javascript:" class="comment-delete href-dotted" style="display:none">Delete</a>
                                </p>
                            </div>
                            <br class="clear"/>
                        </div>
                    </div>

                    <div ng-if="post.comments" class="post-comment-wrapper">

                        <div class="post-comment-meta" ng-repeat="comment in post.comments">
                            <a href="javascript:" class="post-comment-whois left-float">
                                <img ng-src="/o/{{comment.accountImageUri}}" style="height:30px; width:30px;"/>
                            </a>
                            <div class="left-float" style="margin-left:10px;width:79%;">
                                <p>
                                    <a href="javascript:" class="post-comment-whois" style="text-decoration:none; color:#222; font-family:Roboto-Bold !important">{{comment.accountName}}</a>
                                    <span class="comment-comment">{{comment.comment}}</span>
                                    <a ng-if="comment.commentDeletable" ng-click="deleteComment(comment.id)" href="javascript:" class="comment-delete href-dotted" style="display:none">Delete</a>
                                </p>
                            </div>
                            <br class="clear"/>
                        </div>
                    </div>

                    <div class="comment-container" class="clear">

                        <div ng-if="post.shared" class="comment-shared-form">
                            <span class="comments-header information">Comment</span>
                            <input ng-keyup="$event.keyCode == 13 && saveShareComment(post.postShareId)" type="text" id="post-share-comment-{{post.postShareId}}" class="comment-input" value=""/>
                            <span class="enter" style="display:none">Enter Key</span>
                        </div>

                        <div ng-if="!post.shared" class="comment-form">
                            <span class="comments-header information">Comment</span>
                            <input ng-keyup="$event.keyCode == 13 && saveComment(post.id)" type="text" id="post-comment-{{post.id}}" class="comment-input" value=""/>
                            <span class="enter" style="display:none">Enter Key</span>
                        </div>
                    </div>

                    <br class="clear"/>
                </div>
            </div>

            <div class="post-admin-actions-wrapper" ng-if="post.shared">&Xi;
                <div class="post-admin-actions-inner" style="position:relative;">
                    <div class="post-admin-actions">
                        <a ng-click="unsharePost(post.postShareId)" ng-if="post.deletable"  href="javascript:" class="delete-post-share" data-id="{{post.postShareId}}">Delete Post</a>
                        <a ng-click="flagPost(post.id, true)" href="javascript:" class="flag-post" data-id="{{post.id}}" data-shared="true">Flag Post</a>
                        <a ng-click="hidePost(post.id)" href="javascript:" class="hide-post" data-id="{{post.id}}">Hide Post</a>
                    </div>
                </div>
            </div>
            <div class="post-admin-actions-wrapper" ng-if="!post.shared">&Xi;
                <div class="post-admin-actions-inner" style="position:relative;">
                    <div class="post-admin-actions">
                        <a ng-click="deletePost(post.id)" ng-if="post.deletable" href="javascript:" class="delete-post" data-id="{{post.id}}">Delete Post</a>
                        <a ng-click="flagPost(post.id, false)" href="javascript:" class="flag-post" data-id="{{post.id}}" data-shared="false">Flag Post</a>
                        <a ng-click="hidePost(post.id)" href="javascript:" class="hide-post" data-id="{{post.id}}">Hide Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p ng-if="activities.length == 0" id="no-activity-discovered"><span class="black">Welcome to Amedeus!</span>
        <br/>We are new, please enjoy!</p>

</div>

<br class="clear"/>

<div style="text-align:center;margin-top:191px;">
    <a href="/o/get_code" class="page-ref href-dotted" >Get Code</a>
    <a href="javascript:" class="page-ref href-dotted" data-ref="about">About</a>
    <a href="/o/invite" class="href-dotted" id="invite-people">Invite</a>
</div>

<p style="text-align:center;"><a href="mailto:support@amadeus.social" style="color:#17161b" class="href-dotted">support@amadeus.social</a>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 134" id="amadeus">
        <path d="M49 1L21 88L57 88L42 134L84 134L113 47L92 47L79 47L75 47L91 1L49 1Z" />
    </svg>
</p>


<div style="text-align:center;margin:20px auto 560px auto">
    <p style="text-align: center; font-size:12px;">&copy; 2020 Amadeus</p>
    <a href="http://tomcat.apache.org/" target="_blank" class="information">Powered by<br/>Tomcat</a>
</div>

<!--    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171 171" width="171" height="171" id="amadeus-icon">-->
<!--        <path d="M73 108L38 108L92 21L107 21L91 67L129 67L74 154L58 154L73 108Z"/>-->
<!--    </svg>-->

