
#logo-container{
    top:45px;
    left:40px;
    position:fixed !important;
    padding:3px;
    z-index: 100;
    border: solid 1px #eff2f3;
    background:rgba(0,0,0,0);
    -webkit-border-radius: 34px !important;
    -moz-border-radius: 34px !important;
    border-radius: 34px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

#logo-container:hover{
    background: #fff;
    border: solid 1px #eff2f3;
}

#logo-logo{
    /*background: #710BAA !important;*/
    box-shadow: none !important;
    border: solid 1px #1dd9fd;
    padding:13px 16px 13px 16px;
    text-shadow: none !important;
    -webkit-border-radius: 34px !important;
    -moz-border-radius: 34px !important;
    border-radius: 34px !important;

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.19) !important;
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.19) !important;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,.19) !important;
}

#amadeus-symbol{
    font-size:27px;
    color:#fff;
    font-family: Roboto !important;
    text-shadow: none !important;
}

#latest-feed-total{
    font-size:11px;
    bottom:12px;
    right:10px;
    color:#FFFF44;
    color: transparent;
    font-family: Roboto !important;
}

#search-container{
    height: 61px;
    border: solid 1px #eff2f3;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    margin-top: 2px;
    width: 465px;
}

#search-box{
    top: 6px;
    left: 5px;
    z-index: 13;
    height: 52px;
    width: 415px;
    line-height: 1.0em;
    font-size: 24px;
    color:#fff !important;
    background: #aacad0 !important;
    border:solid 1px #fff !important;
    background: #658c94 !important;
    border:solid 1px #5d828a !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}


#search-box:hover,
#search-box:focus,
#search-box:active {
    color:#fff !important;
    background: #658c94 !important;
    border:solid 1px #5d828a !important;
}



#search-box,
#search-box:hover,
#search-box:focus,
#search-box:active {
    color:#000 !important;
    background: #e4ecee !important;
    border:solid 1px #dbe5e7 !important;
}

#search-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000 !important;
    font-size:17px !important;
    font-family:Roboto-Light !important;
}

#search-box::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
    font-size:17px !important;
    font-family:Roboto-Light !important;
}
#search-box:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
    font-size:17px !important;
    font-family:Roboto-Light !important;
}
#search-box:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    font-size:17px !important;
    font-family:Roboto-Light !important;
}

#top-outer-container{
    height:73px;
}

#top-inner-container{
    height:73px;
    width:800px !important;
    margin:auto;
}

#content-container{
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
}

#navigation-container{
    left:initial;
    right:10px;
}

#profile-picture-actions-container{
    box-shadow: none !important;
}

#whatsup-container{
    padding:4px;
    border:solid 1px #eff2f3;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

#whatsup,
#whatsup:hover,
#whatsup:focus{
    width:238px;
    border-radius:9px;
    box-shadow: none !important;
    border:solid 1px #eaeeef !important;
    background: #f0f4f5 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.feed-content-container{
    background: #fff !important;
    box-shadow: none;
    border:solid 1px #eaf1f3;
    -webkit-box-shadow: 0px 3px 29px 0px rgba(0,0,0,.09);
    -moz-box-shadow: 0px 3px 29px 0px rgba(0,0,0,.09);
    box-shadow: 0px 3px 29px 0px rgba(0,0,0,.09);

    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    padding-bottom: 0px !important;
    margin-bottom:20px;
}


.post-meta{
    border-bottom:solid 1px #e3ebee;
    background: #eaf1f3 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


#notifications-wrapper{
    position:fixed;
    top:120px;
    left:25px;
    z-index: 101;
}

#notifications-outer-container {
    position: relative;
}

#notifications-href-wrapper{
    position:fixed;
    left:42px;
    top:118px;
    z-index:100;
    background: #fff;
    border-radius: 34px;
    padding:3px;
    /*border:solid 1px #eff2f3;*/
}

#notifications-href-wrapper:hover{
    background: #fff;
}

#notifications-href-inner {
    position: relative;
}
#notifications-href{
    font-size:23px;
    border-radius: 34px;
    background: #eaf1f3;
    background: #fff;
    padding:17px 17px 13px 15px;
    margin:0px !important;

    /*-webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
    /*-moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
    /*box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
}

#notifications-href:hover{
    background: #e4ecee;
}

#notifications-count{
    top: 9px !important;
    left: 33px !important;
    position: absolute;
    font-size:12px;
    font-family: Roboto !important;
    background: inherit;
    color: #000;
}


#profile-actions-href{
    margin-right:10px !important;
    /*position:fixed;*/
    /*left:27px;*/
    /*top:123px;*/
    /*z-index:100;*/
}

#profile-ref-image{
    height: 56px;
    width: 56px;
    margin-top: -3px;
    border-radius: 34px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    -webkit-box-shadow: none !important;
    -mox-box-shadow: none !important;
    box-shadow: none !important;
    padding:3px;
    border:solid 1px #eff2f3;
    /*-webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
    /*-moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
    /*box-shadow: 0px 3px 12px 0px rgba(0,0,0,.09) !important;*/
}

#posts-right-container{
    z-index:100;
}

#post-right{
    margin-top: 0px;
    padding:0px 9px 9px;
}

.post-sep-uno{
    background:#710BAA;
    width:70%;
}
.post-sep-dos{
    background:#710BAA;
    width:30%;
}

.post-sep-tres{
    background: #7BA1A9;
    width:0%;
}

.post-button,
.post-button.beauty,
.post-button:hover{
    background:#17161b !important;
    border:solid 1px #000;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
}

.post-button,
.post-button.beauty,
.post-button:hover{
    background:#0AD5FC !important;
    border:solid 1px #06cdf3;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.09) !important;
}


.href-dotted{
    font-family:Roboto-Bold !important;
}

#top-inner-container,
#content-container{
    margin-left:156px;
}

@media screen and (max-width: 1090px) {
    #top-inner-container,
    #content-container{
        margin-left:156px;
    }
    #navigation-container{
        right:0px;
    }
}






/*#search-box:hover::-webkit-input-placeholder,*/
/*#search-box:focus::-webkit-input-placeholder{*/
/*    color:transparent !important*/
/*}*/
/*#search-box:hover::-moz-placeholder,*/
/*#search-box:focus::-moz-placeholder{*/
/*    color:transparent !important*/
/*}*/
/*#search-box:hover::-ms-input-placeholder,*/
/*#search-box:focus::-ms-input-placeholder{*/
/*    color:transparent !important*/
/*}*/
/*#search-box:hover::-moz-placeholder,*/
/*#search-box:focus::-moz-placeholder{*/
/*    color:transparent !important*/
/*}*/
