
@media screen and (max-width: 690px) {

    #body{
        background:#fff;
    }

    #top-inner-container{
        margin:0px;
        top: 3px;
    }

    #logo-mobile{
        top:10px;
        left:14px;
        position: fixed;
        z-index: 301;
        display:inline-block !important;
    }

    #base-navigation-container{
        background: #710BAA;
        z-index:302;
        position:fixed;
        top:50px;
        left:30px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    #base-navigation-container a{
        display:block;
        padding:20px;
        text-align: left;
        text-decoration: none;
        color:#fff;
        font-size: 17px;
    }

    #base-navigation-container a:hover{
        background:#d953a0;
    }

    #mobile-notifications{
        color: #fff;
        right:0px;
        top:0px;
        z-index:100;
        position:absolute;
        display:block;
        padding:3px 7px;
        background: #d953a0;
        text-decoration: none;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }

    #logo-container{
        display:none;
    }

    #logo-mobile #logo-container{
        display:block;
        top:initial;
        left:initial;
    }

    #latest-feed-total{
        bottom:20px;
        right:0px !important;
    }

    #navigation-container,
    #profile-actions-href{
        display:none;
    }

    .render-desktop{
        display:none !important;
    }

    #mobile-outer-container {
        top:6px;
        left:10px;
        right:10px;
        z-index:1;
        height:72px;
        position:absolute;
        display: block !important;
    }

    #mobile-search-container {
        right:0px;
        left:75px;
        z-index:1;
        display:block;
        position:absolute;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        border-radius: 10px !important;
        border: solid 1px #eff2f3;
        margin:auto;
        margin-top: 2px;
        padding:3px;
        background: #fff;
    }

    #notifications-wrapper{
        display: none;
    }

    #search-box{
        height:51px;
        display:block;
        box-sizing: border-box;
        margin:0px;
        width: calc(100% - 10px);
        position: relative;
    }

    #search-container{
        display:none;
    }

    #profile-ref-image{
        padding:6px;
    }

    #content-container{
        width:95%;
        margin: 5px auto 119px auto;
    }

    #activities-wrapper{
        width:100%;
        float:none;
    }
    #posts-right-container{
        float:none;
        width:100% !important;
    }
    #post-right{
        padding:0px;
        background:#fff;
    }
    #whatsup-wrapper{
        width:100%;
    }
    #whatsup{
        height:81px !important;
        /*padding:0px;*/
        width: calc(100% - 59px) !important;
        /*border:solid 1px #84c5ff !important;*/
    }
    #whatsup:focus{
        border:solid 1px #F0F4F5 !important;
    }
    #actions-container{
        margin-top:2px;
    }
    #latest-posts-header{
        display:block;
        margin:0px auto 10px auto;
    }
    #notifications-outer-container{
        top:14px;
        right:5px;
        width:200px;
        left: initial;
        position: absolute;
        z-index: 400;
    }
    #profile-picture-actions-container{
        left:-63px;
        z-index: 400;
    }
    #posts-fellows-fems-outer-container{
        display:none;
    }
    #advertisement-container{
        display:none;
    }
    #profile-posts-container{
        float:none;
        width:100%;
    }
    #profile-left-container{
        float:none;
        width:100%;
    }

    #chat-session-outer-wrapper{
        display:none;
    }
    #chat-launcher-popup{
        display: none;
    }

    #viz{
        display:none
    }

}