
@media screen and (max-width: 690px) {

    #body{
        background:#fff;
    }

    #top-inner-container{
        margin:0px;
        top: 3px;
    }

    #logo-container{
        top:10px;
        left:14px;
        margin:auto;
        padding:0px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    #logo-logo{
        z-index:1;
        text-align:center;
        position: relative;
    }

    #amadeus-symbol{
        margin: auto;
        font-size:29px;
    }

    #latest-feed-total{
        bottom:20px;
        right:0px !important;
    }

    #profile-actions-href {
        right: 10px;
        top: 5px;
        position: absolute;
        margin:auto !important;
    }

    .render-desktop{
        display:none !important;
    }

    #mobile-outer-container {
        top:6px;
        left:10px;
        right:10px;
        z-index:1;
        height:72px;
        position:absolute;
        display: block !important;
    }

    #mobile-search-container {
        right:98px;
        left:75px;
        z-index:0;
        display:block;
        z-index:1;
        position:absolute;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        border-radius: 10px !important;
        border: solid 1px #eff2f3;
        margin:auto;
        margin-top: 2px;
        padding:3px;
        background: #fff;
    }

    #search-box{
        height:51px;
        display:block;
        box-sizing: border-box;
        margin:0px;
        width: calc(100% - 10px);
        position: relative;
    }

    #search-container{
        display:none;
    }

    #profile-ref-image{
        padding:6px;
    }

    #notifications-wrapper{
        display:none;
        background: transparent !important;
    }

    #notifications-href-wrapper{
        top:3px;
        right:100px;
        left:initial;
        padding:0px;
        border: none;
        position:fixed;
        background: transparent !important;
    }

    #notifications-href-wrapper:hover{
        border:none;
        background: transparent;
    }
    #content-container{
        width:95%;
        margin: 5px auto 119px auto;
    }

    #activities-wrapper{
        width:100%;
        float:none;
    }
    #posts-right-container{
        float:none;
        width:100% !important;
    }
    #post-right{
        padding:0px;
        background:#fff;
    }
    #whatsup-wrapper{
        width:100%;
    }
    #whatsup{
        height:81px !important;
        /*padding:0px;*/
        width: calc(100% - 59px) !important;
        /*border:solid 1px #84c5ff !important;*/
    }
    #whatsup:focus{
        border:solid 1px #F0F4F5 !important;
    }
    #actions-container{
        margin-top:2px;
    }
    #latest-posts-header{
        display:block;
        margin:0px auto 10px auto;
    }
    #notifications-outer-container{
        top:70px;
        right:40px;
        width:200px;
        left: initial;
        position: fixed;
        z-index: 400;
    }
    #profile-picture-actions-container{
        left:-63px;
        z-index: 400;
    }
    #posts-fellows-fems-outer-container{
        display:none;
    }
    #advertisement-container{
        display:none;
    }
    #profile-posts-container{
        float:none;
        width:100%;
    }
    #profile-left-container{
        float:none;
        width:100%;
    }

    #chat-session-outer-wrapper{
        display:none;
    }
    #chat-launcher-popup{
        display: none;
    }

    #viz{
        display:none
    }

}